<div class="container backgroundimageCoffee">
    <div class="row">
        <div class="col-md-6 mx-auto my-auto">
            <h6>Hello Everybody, I am</h6>
            <h3 *ngIf="user">{{ user?.displayName }}</h3>
            <h4 *ngIf="user">{{ user?.photoURL.split('^')[1] }}</h4>
            <div class="row aboutitem">
                <div class="col-md-4">
                    <label>User ID :</label>
                </div>
                <div class="col-md-8">
                    <p *ngIf="user">{{ user?.uid }}</p>
                </div>
            </div>
            <div class="row aboutitem">
                <div class="col-md-4">
                    <label>Name :</label>
                </div>
                <div class="col-md-8">
                    <p *ngIf="user">{{ user?.displayName }}</p>
                </div>
            </div>
            <div class="row aboutitem">
                <div class="col-md-4">
                    <label>Email :</label>
                </div>
                <div class="col-md-8">
                    <p *ngIf="user">{{ user?.email }}</p>
                </div>
            </div>
            <div class="row aboutitem">
                <div class="col-md-4">
                    <label>Phone :</label>
                </div>
                <div class="col-md-8">
                    <p *ngIf="user">{{ user?.photoURL.split('^')[0] }}</p>
                </div>
            </div>
            <div class="row aboutitem">
                <div class="col-md-4">
                    <label>Profession :</label>
                </div>
                <div class="col-md-8">
                    <p *ngIf="user">{{ user?.photoURL.split('^')[1] }}</p>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="logout()">Log Out</button>
        </div>
    </div>
</div>